<h4 class="text-center mb-3">Tambah Todo Baru</h4>
<form action="/create" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Judul</label>
        <input type="text" class="form-control" id="name" name="name" required placeholder="Masukkan judul task"/>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Deskripsi</label>
        <textarea type="text" class="form-control" id="description" name="description" required placeholder="Masukkan deskripsi task"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
</form>